@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./library.css);

@layer base {
  body.active {
    overflow: hidden;
  }

  ::-webkit-scrollbar {
    width: 5px;
    border: 1px solid rgba(100, 125, 238, 0.35);
  }

  ::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
  }
}

@layer components {
  .lazy-load-image-background {
    width: 100% !important;
  }

  .perspective-container {
    perspective: 1000px;
  }

  .perspective-element {
    transition: transform 0.3s ease-out;
    transform-style: preserve-3d;
  }
}

@layer utilities {
  .perspective-container:hover .perspective-element {
    transform: rotateX(5deg) rotateY(5deg);
  }

  .perspective-element:hover {
    transform: rotateX(-5deg) rotateY(-5deg);
  }
}